/* style.css */
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
/*
h1 {
    color: black;
	font-weight: bold;
    font-style: oblique;
    text-align: center;
}

h2 {
    color: darkblue;
	font-weight: normal;
}

video {
    display: block;
    margin: 0 auto;
}

#lyrics {
    text-align: center;
}
*/